 <!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <h1 class="contact_taital">Request A Call Back</h1>
        <div class="email_text">
            <div class="form-group">
                <input type="text" class="email-bt" placeholder="Name" name="Email">
            </div>
            <div class="form-group">
                <input type="text" class="email-bt" placeholder="Phone Numbar" name="Email">
            </div>
            <div class="form-group">
                <input type="text" class="email-bt" placeholder="Email" name="Email">
            </div>
            <div class="form-group">
                <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
            </div>
            <div class="send_btn"><a href="#">SEND</a></div>
        </div>
    </div>
</div>
<!-- contact section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="input_btn_main">
            <input type="text" class="mail_text" placeholder="Enter your email" name="Enter your email">
            <div class="subscribe_bt"><a href="#">Subscribe</a></div>
        </div>
        <div class="location_main">
            <div class="call_text"><img src="~/imagess/call-icon.png"></div>
            <div class="call_text"><a href="#">Call +01 1234567890</a></div>
            <div class="call_text"><img src="~/imagess/mail-icon.png"></div>
            <div class="call_text"><a href="#">demo@gmail.com</a></div>
        </div>
        <div class="social_icon">
            <ul>
                <li><a href="#"><img src="~/imagess/fb-icon.png"></a></li>
                <li><a href="#"><img src="~/imagess/twitter-icon.png"></a></li>
                <li><a href="#"><img src="~/imagess/linkedin-icon.png"></a></li>
                <li><a href="#"><img src="~/imagess/instagram-icon.png"></a></li>
            </ul>
        </div>
    </div>
</div>