 <!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Services </h1>
        <p class="services_text">
            There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration
        </p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div><img src="~/imagess/img-1.png" class="services_img"></div>
                    <div class="btn_main"><a href="#">Rafting</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="~/imagess/img-2.png" class="services_img"></div>
                    <div class="btn_main active"><a href="#">Hiking</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="~/imagess/img-3.png" class="services_img"></div>
                    <div class="btn_main"><a href="#">Camping</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
        <div class="input_btn_main">
            <input type="text" class="mail_text" placeholder="Enter your email" name="Enter your email">
            <div class="subscribe_bt"><a href="#">Subscribe</a></div>
        </div>
        <div class="location_main">
            <div class="call_text"><img src="~/imagess/call-icon.png"></div>
            <div class="call_text"><a href="#">Call +01 1234567890</a></div>
            <div class="call_text"><img src="~/imagess/mail-icon.png"></div>
            <div class="call_text"><a href="#">demo@gmail.com</a></div>
        </div>
        <div class="social_icon">
            <ul>
                <li><a href="#"><img src="~/imagess/fb-icon.png"></a></li>
                <li><a href="#"><img src="~/imagess/twitter-icon.png"></a></li>
                <li><a href="#"><img src="~/imagess/linkedin-icon.png"></a></li>
                <li><a href="#"><img src="~/imagess/instagram-icon.png"></a></li>
            </ul>
        </div>
    </div>
</div>